{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Mustang del 69</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nisi, quisquam officiis placeat facere nostrum culpa voluptates alias, officia tempore perspiciatis adipisci facilis expedita est neque qui accusantium autem dolor.</p>
        </div>

        <div class="col-4">
            <img src="assets/img/mustang-69.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}